.VimTips section {
	overflow: hidden;
	position: relative;
}

.VimTips * {
	height: 1.5em;
	line-height: 1.5em;
	white-space: nowrap;
}

.VimTips .link {
	opacity: 1;
}

.VimTips .link.changed {
	animation: fadein 1000ms;
}

@keyframes fadein {
	from { opacity: 0; }
	to { opacity: 1; }
}
