.VimTips section {
	display: flex;
	align-items: center;
	position: relative;

	background-color: green;
	padding: 0.5em;
}

.VimTips img {
	flex: 0 0 4em;
	margin-right: 0.5em;
}

.VimTips p {
	flex: 1 1 auto;
	margin: auto;
	overflow: hidden;
}

.VimTips a:link {
	color: lightgrey;
}

.VimTips a:visited {
	color: lightgrey;
}

.VimTips a {
	display: block;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.VimTips .link {
	opacity: 1;
	max-width: 100%;
}

.VimTips .link.changed {
	animation: fadein 1000ms;
}

@keyframes fadein {
	from { opacity: 0; }
	to { opacity: 1; }
}
