.VimTips section {
	display: flex;
	align-items: center;

	height: inherit;
	width: inherit;
	box-sizing: border-box;
	overflow: hidden;

	background-color: #25873D;
	padding: 0.5em;
}

.VimTips img {
	flex: 0 0 4em;
	width: 4em; /* chrome isn't respecting flex-basis */
	margin-right: 0.5em;
}

.VimTips p {
	flex: 1 1 auto;
	margin: 0;
	text-align: center;
	font-family: sans-serif;
}

.VimTips a:link {
	color: #CCCCCC;
}

.VimTips a:visited {
	color: #AAAAAA;
}

.VimTips .link {
	opacity: 1;
}

.VimTips .link.changed {
	animation: fadein 1000ms;
}

@keyframes fadein {
	from { opacity: 0; }
	to { opacity: 1; }
}
